@charset "ISO-8859-1";

/*variables*/
/*general style*/
/*google font*/
/*@import "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700)";*/

body {
  		height:100%; 
  		margin:0;
  		padding: 20px;
		font-family: 'Playfair Display', serif;
	}

	:root {
		/*declaracion*/
		--main-bg-color: #black;
		--main-txt-color: white;
	}

	.form-login {
		/*como usarlo */
		background-color: var(--main-bg-color);
		color: white;
		min-height: 80vh;		
	}

	.bloque {
		font-family: 'Playfair Display', serif;
		font-size: 1.0em;
		font-style: italic;
		display: flex;
        justify-content: center;
	}

	.subtitulo {
		font-size: 1.0em;
		font-weight: bold;
	}

	img {
		display: block;
		margin: auto;
	}
	/** txbUusuario, btnEnviar,*/
		
.copyright p a:hover,
.copyright a a:hover {
  color: #f2672e;
}